:root {
    --main-color: #54A5EE;
    --highlight-color: gold;
    --bg-color: rgba(61, 61, 61, 0.8);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: url('IMG/space.jpg') center center/cover no-repeat;
    color: whitesmoke;
}

a {
    color: white;
    text-decoration: none;
}

.main-txt {
    color: var(--main-color);
}

#navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--bg-color);
    color: #fff;
    opacity: 0.7;
    width: 100%;
    height: 70px;
    top: 0px;
    position: fixed;
    padding: 0 30px;
}

#navbar a {
    font-family: Nebula;
    font-size: 20px;
    color: #fff;
    padding: 10px 20px;
    margin: 0 5px;
}

#navbar ul {
    list-style: none;
    display: flex;
}

#navbar ul li {
    color: whitesmoke;
    display: inline-block;
    padding: 5px;
    position: relative;
}

#navbar ul li a {
    color: #bbbbbb;
    text-decoration: none;
    margin: 5px;
}

#navbar ul li a:hover {
    color: white;
    border-bottom: 2px solid white;
}


/* Hide nested ul by default */

#navbar ul li ul {
    display: none;
    font-family: Nebula;
    position: absolute;
    text-align: center;
    background: #333333;
}

#navbar ul li:hover {
    cursor: pointer;
    color: #fff;
}

#navbar ul li:hover ul {
    display: flex;
    align-items: center;
    flex-direction: column;
}

#navbar ul li:hover ul li a {
    padding: 5px;
    margin: 40px;
}

#navbar ul li ul li a:hover {
    color: gold;
    border-bottom: 2px solid gold;
}

#logo {
    margin-top: 80px;
    text-align: center;
}

#logo .logo {
    width: 600px;
    height: auto;
}

#gallery-text {
    margin: auto;
    /* Importante para el max-width */
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    max-width: 1100px;
}

#gallery-text h1 {
    padding-bottom: 10px;
    font-size: 30px;
    font-family: Nebula;
    grid-gap: 1rem;
    text-align: center;
}

#gallery-text .text .text-container {
    background-color: var(--bg-color);
    padding: 20px;
}

#gallery-text .text p,
#gallery-text .text p .main-txt {
    text-align: justify;
    font-size: 25px;
    font-family: Roboto, sans-serif;
    text-shadow: black;
}

#gallery-text .gallery {
    text-align: center;
}

#game {
    padding-top: 50px;
    grid-template-areas: 'h1' 'link';
    margin-bottom: 300px;
}

#game .title {
    grid-area: h1;
    font-size: 50px;
    text-align: center;
    font-family: Astro;
    padding-bottom: 15px;
}

#game .link {
    grid-area: link;
    text-align: center;
}

#game a {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    text-decoration: underline;
    color: var(--main-color);
}

#game a:hover {
    color: #47cc8e;
}

#footer {
    padding-right: 10%;
    padding-left: 10%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: black;
    position: fixed;
    bottom: 0;
}

#footer img {
    height: 50px;
    margin: 0 15px 0 15px;
}

#about {
    margin-top: 100px;
}

#about h1 {
    font-family: Astro;
    font-size: 50px;
    text-align: center;
    text-decoration: underline;
}

#about .dev-container {
    margin: 45px 5% 0 5%;
}

#about .dev-container .developer h2 {
    font-family: Nebula;
    font-size: 30px;
    color: gold;
    margin-bottom: 15px;
}

#about .dev-container .developer p {
    font-family: Roboto, sans-serif;
    font-size: 20px;
    margin-bottom: 30px;
}

#form {
    padding: 90px;
}

#form h1 {
    font-family: Astro;
    font-size: 30px;
}

#form label {
    display: block;
    margin-bottom: 20px;
}

#form input {
    width: 30%;
    padding: 4px;
    height: 40px;
    border: #f5f5f5 1px solid;
}

#form .btn {
    font-family: Nebula;
    font-size: 20px;
    padding: 12px;
    margin-top: 20px;
    background: var(--main-color)
}

#form .btn:hover {
    background: gold;
}

#charts {
    margin-top: 100px;
}

#charts img {
    height: 400px;
    width: auto;
}

#charts h1 {
    font-family: Astro;
    font-size: 30px;
    text-align: center;
    text-decoration: underline;
    margin-bottom: 40px;
}

#charts .charts-container {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-gap: 50px;
    margin: 0 10% 0 10%;
}


/* Añadir una fuente externa */

@font-face {
    font-family: Nebula;
    src: url(Nebula-Regular.otf);
}

@font-face {
    font-family: Astro;
    src: url(AstroSpace-0Wl3o.otf);
}


/*Font by Fadiel Muhamai https://pixelify.net/download/free-fonts/display/nebula-sci-fi-font/ */